@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 1px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background-color: #000000;

}


body {
  margin-left: 100px;
  margin-right: 100px;
  background: linear-gradient(135deg, #0e0d0d, #050505, #1d1d1d);
  background-size: 400% 400%;
  animation: metallicMove 10s ease infinite;
  color: #5f5f5f;
}

@keyframes metallicMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/Website-BG.jpg');
  opacity: 0.05;
  z-index: -1;
  pointer-events: none;
}


.title {
  text-align: center;
  color: whitesmoke;
  margin-top: 50px;
  font-size: clamp(1rem, calc(1.5vw + 0.5rem), 3rem);
}

.title2 {
  text-align: center;
  color: whitesmoke;
  margin-top: 100px;
  font-size: clamp(1rem, calc(1.5vw + 0.5rem), 3rem);
}

.title3 {
  text-align: center;
  color: whitesmoke;
  margin-top: 200px;
  font-size: clamp(1rem, calc(1.5vw + 0.5rem), 3rem);
}

.scroll-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 5rem;
}

.wrapper {
  max-height: 20rem;
  height: 20rem;
  display: flex;
  overflow-x: auto;
  -ms-overflow-style: none;
  max-width: 120rem;
  flex-wrap: nowrap;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.item {
  min-width: 170px;
  height: 19rem;
  line-height: 19rem;
  text-align: center;
  background-color: #ddd;
  margin-right: 2px;
  margin-top: 7px;
  border-radius: 7px;
  opacity: 0.7;
   white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item:hover {
  opacity: 1;
}

.grid-container {
  display: grid;
  top: 5rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  row-gap: 5rem;
  padding: 10px;
  margin-top: 5rem;
  margin-left: 10px;
  margin-right: 10px;

}

.grid-item {
  background-color: #dddddd2a;
  text-align: center;
  padding: 10px;
  height: 15rem;
  border-radius: 7px;
  font-size: 1.5rem;
  opacity: 0;
  transform: translateX(-100px) scale(1);
  transition: transform 0.5s ease, opacity 0.5s ease;
  flex: 1;
  cursor: pointer;
  transition: transform 0.3s ease;
  position: relative;
  overflow: hidden;
}

.grid-item.animate {
  opacity: 0.7;
  transform: translateX(0) scale(1);
}

.grid-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  pointer-events: none;
  background: radial-gradient(10000px circle at var(--mouse-x, 50%) var(--mouse-y, 50%),
      rgba(255, 36, 36, 0.774),
      transparent 10%);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 0;
}

.grid-item:hover::before {
  opacity: 1;
}

.grid-content {
  color: #fff;
  position: relative;
  margin-top: 90px;
  margin-left: 10px;
  font-size: clamp(0.75rem, 1.5vw, 1.5rem);
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid-item:hover .grid-content {
  color: #000000;
  transition: 0.4s ease;
  font-weight: bold;
  transform: scale(1.02);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}